html {
	background: url(../images/background.jpeg.jpg) no-repeat center center fixed;
	-webkit- background-size: cover;
	-moz-background-size; cover;
	-o-background-size cover;
	background-size: cover;
	font-family: sans-serif;
}



.prof-box {
	width:400px;
	height:400px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: #FFE4E1;
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
}

.prof-pic {
	border-radius: 50%; 
	height: 100px;
	width: 100px;
}