html {
	background: url(../images/background.jpeg.jpg) no-repeat center center fixed;
	-webkit- background-size: cover;
	-moz-background-size; cover;
	-o-background-size cover;
	background-size: cover;
	font-family: sans-serif;
}

/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: top;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 24%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

/* Style each tab content individually */ 
#London {background-color:red;}
#Paris {background-color:green;}
#Tokyo {background-color:blue;}
#Oslo {background-color:orange;}
.prof-box {
	width:400px;
	height:400px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: #FFE4E1;
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
}

.prof-pic {
	border-radius: 60%; 
	height: 170px;
	width: 180px;
}

.social-icons {
	font-size: 2pc;
}

.social-icons a {
 color:pink;
}

.line-break {
	width:400px;
	border-top: 1px solid pink;
	margin:0 auto;
}

