html {
	background: url(../images/background.jpeg.jpg) no-repeat center center fixed;
	-webkit- background-size: cover;
	-moz-background-size; cover;
	-o-background-size cover;
	background-size: cover;
	font-family: sans-serif;
}

/* Style the tab buttons */
button {
    background-color:#a0d9ef;
    color: white;
    float: top;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 24%;
}

/* Change background color of buttons on hover */
button:hover {
    background-color: rgba(222,182,238,0.4);
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}
.object {

}

.prof-box {
	width:400px;
	height:360px;
	background:rgba(160,217,239,0.7);
	padding: 40px;
	color: #810038;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
}

.prof-box2 {
	width:400px;
	height:420px;
	background:rgba(160,217,239,0.7);
	padding: 40px;
	color: #810038;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
}


.social-icons {
	font-size: 2pc;

}

.social-icons a {
 color:#810038;
}

.line-break {
	width:400px;
	border-top: 1px solid #810038;
	margin:0 auto;
}


